/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 30px; }

@keyframes roll {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(360deg); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #087f5b;
  background-color: #b2f2bb;
  padding: 2.5rem 7.5rem; }

.heading-primary-main {
  display: block;
  color: #087f5b;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 600;
  letter-spacing: 0.4rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.navigation__nav {
  align-self: flex-end; }

.navigation__list {
  list-style: none;
  display: flex;
  gap: 1.6rem; }

.navigation__list:hover {
  gap: 1.22; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: #51cf66;
  font-weight: 700;
  font-size: 1.8rem; }

.navigation__link:hover, .navigation__link:active {
  color: #087f5b;
  font-size: 1.82rem; }

.show-modal-1 {
  border-radius: 10rem;
  cursor: pointer; }

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none; }

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none; }

.modal-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5; }

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4.4rem; }
  .header__logo {
    height: 100px;
    animation: roll 3s ease-in-out;
    transition: all 0.3s; }

.Quine-McCluskey__entrada {
  display: flex; }
  .Quine-McCluskey__entrada #entrada {
    font-size: 18px;
    padding: 30px;
    width: 100%;
    height: 7.4rem;
    margin-bottom: 50px; }

.Quine-McCluskey__button {
  font-size: 18px;
  padding: 20px 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffff;
  border: none;
  color: #111;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 20px; }

.Quine-McCluskey__button:hover {
  background-color: aliceblue;
  transform: scale(1.05); }

.tables__iniciales {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 30px; }
  .tables__iniciales__table1 th,
  .tables__iniciales__table1 tr {
    padding: 25px;
    font-size: 1.6rem;
    text-align: center; }
  .tables__iniciales__table2 th,
  .tables__iniciales__table2 tr {
    padding: 25px;
    font-size: 1.6rem;
    text-align: center; }

.tables__procedimientos {
  padding: 30px;
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-self: center; }
  .tables__procedimientos th,
  .tables__procedimientos tr {
    padding: 25px;
    font-size: 1.6rem;
    text-align: center; }

.tables__finales {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-self: center; }
  .tables__finales th,
  .tables__finales tr {
    padding: 25px;
    font-size: 1.6rem;
    text-align: center; }
  .tables__finales th:first-child {
    border: none; }

.tables__results {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 3.2rem; }

main {
  padding: 40px; }

.Section-Quine-McCluskey {
  width: 100%;
  height: 50vh;
  padding: 50px; }
