.header {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  &__logo {
    height: 100px;
    animation: roll 3s ease-in-out;
    transition: all 0.3s;
  }
  &__box-img {
    @include respond(tab-port) {
      display: flex;
      justify-content: center;
    }
  }
  @include respond(tab-port) {
    display: block;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
