.Quine-McCluskey {
  &__entrada {
    width: 100%;
    @include respond(tab-port) {
      position: relative;
    }

    #entrada {
      font-size: 18px;
      padding: 30px;
      width: 70vw;
      margin-bottom: 50px;
    }
  }
  &____datos {
    @include respond(tab-port) {
    }
  }
  &__button {
    font-size: 18px;
    padding: 20px 50px;
    box-shadow: 0 0 20px rgba($color-black, 0.2);
    border-radius: 4px;
    background-color: #ffff;
    border: none;
    color: #111;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 20px;
  }
  &__button:hover {
    background-color: aliceblue;
    transform: scale(1.05);
  }
}
// tables
.tables {
  width: 60vw;
  height: 70vh;
  margin: auto;
  &__iniciales {
    gap: $default-gap;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include respond(tab-port) {
      flex-direction: column;
    }
    &__table1 {
      th,
      tr {
        padding: 15px;
        font-size: 1.6rem;
        text-align: center;
        @include respond(phone) {
          padding: 10px;
        }
      }
    }
  }
  &__procedimientos {
    padding: 30px;
    display: flex;
    gap: $default-gap;
    justify-content: center;
    align-self: center;
    th,
    tr {
      padding: 15px;
      font-size: 1.6rem;
      text-align: center;
      @include respond(phone) {
        padding: 10px;
      }
    }
  }
  &__finales {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    th,
    tr {
      padding: 15px;
      font-size: 1.6rem;
      text-align: center;
      @include respond(phone) {
        padding: 10px;
      }
    }
    th:first-child {
      border: none;
    }
  }
  &__results {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 3.2rem;
    @include respond(phone) {
      padding: 15px;
      font-size: 2.5rem;
    }
  }
}
// test hôm nay
.tables__procedimientos th,
.tables__procedimientos tr {
  padding: 10px;
  font-size: 1.6rem;
  text-align: center;
}
.tables__procedimientos th {
  // background-color: chocolate;
  border: none;
  border-bottom: 1px solid #111;
}
.tables__procedimientos td {
  border: none;
  border-bottom: 1px solid #111;
}
.tables__procedimientos {
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 5px;
  gap: 5rem;
}

.tables__procedimientos table {
  width: 80%;
  tbody tr:last-child td {
    border: none;
  }
}

.tables__procedimientos::before {
  content: "Bước 2: Tìm tích Tìm tích cực tiểu bằng cách tìm những cặp số khác nhau 1 bit. Vị trí khác nhau được đánh dấu bằng dấu gạch giữa ' - ' và tiếp tục tìm trong Table 1 những cặp khác nhau 1 bit.";
  font-size: 1.6rem;
  font-weight: bold;
  @include respond(phone) {
    font-size: 1.4rem;
  }
}
.tables__finales {
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  &::before {
    content: "Bước 3: Lập bảng để tìm các tích quan trọng từ các tích cực tiểu.";
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 25px;
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }
  table {
    padding: 0px;
    border: none;
  }
  table thead tr th {
    border: none;
  }
  table tbody tr td {
    border: none;
    &:not(:last-child) {
      border: none;
      border-right: 1px solid #111;
      border-bottom: 1px solid #111;
    }
  }
  table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #111;
  }
  table tbody tr:last-child td {
    border-bottom: none;
  }
  table thead tr th:not(:last-child) {
    border-right: 1px solid #111;
  }
  table thead tr th:not(:last-child) {
    border-bottom: 1px solid #111;
  }
  table thead tr th:last-child {
    border-bottom: 1px solid #111;
  }
}
.tables__results {
  flex-direction: column;
  align-items: center;
  &::before {
    content: "Bước 4: Kết Quả";
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }
}
// test
.tables__iniciales {
  &::before {
    content: "Bước 1: Đổi các đỉnh 1 ra các số nhị phân và phân chia từng nhóm ra có tổng số bit 1 bằng nhau.";
    margin-top: 30px;
  }
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  &__table1 {
    table {
      border: none;
      tbody tr:last-child td {
        border: none;
        border-right: 1px solid #111;
      }
      tbody tr:last-child td:last-child {
        border: none;
      }
    }
    thead {
      tr th {
        border: none;
        border-bottom: 1px solid #111;
      }
      tr th:not(:last-child) {
        border-right: 1px solid #111;
      }
    }
    tbody {
      tr td {
        border: none;
        border-bottom: 1px solid #111;
      }
      tr td:not(:last-child) {
        border-right: 1px solid #111;
      }
    }
  }
}

.tables__iniciales {
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 1.6rem;
  @include respond(phone) {
    font-size: 1.4rem;
  }
  &__table2 {
    table {
      border: none;
      tbody tr:last-child td {
        border: none;
        border-right: 1px solid #111;
      }
      tbody tr:last-child td:last-child {
        border: none;
      }
    }
    thead {
      tr th {
        border: none;
        border-bottom: 1px solid #111;
        padding: 20px;
      }
      tr th:not(:last-child) {
        border-right: 1px solid #111;
      }
    }
    tbody {
      tr td {
        border: none;
        border-bottom: 1px solid #111;
        padding: 10px;
        text-align: center;
      }
      tr td:not(:last-child) {
        border-right: 1px solid #111;
      }
    }
  }
}
