.Quine-McCluskey {
  &__entrada {
    width: 100%;
    @include respond(tab-port) {
      position: relative;
    }

    #entrada {
      font-size: 18px;
      padding: 30px;
      width: 100%;
      margin-bottom: 50px;
      @include respond(tab-port) {
        position: absolute;
        height: 4rem;
        width: 300px;
        right: -90px;
        top: 20px;
      }
    }
  }
  &____datos {
    @include respond(tab-port) {
    }
  }
  &__button {
    font-size: 18px;
    padding: 20px 50px;
    box-shadow: 0 0 20px rgba($color-black, 0.2);
    border-radius: 4px;
    background-color: #ffff;
    border: none;
    color: #111;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 20px;
    @include respond(tab-port) {
      position: absolute;
      left: 100px;
      top: 420px;
    }
  }
  &__button:hover {
    background-color: aliceblue;
    transform: scale(1.05);
  }
}
// tables
.tables {
  width: 60vw;
  height: 70vh;
  &__iniciales {
    display: flex;
    gap: $default-gap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    @include respond(tab-port) {
      display: block;
    }
    &__table1 {
      th,
      tr {
        padding: 15px;
        font-size: 1.6rem;
        text-align: center;
      }
    }
    &__table2 {
      th,
      tr {
        padding: 15px;
        font-size: 1.6rem;
        text-align: center;
      }
    }
  }
  &__procedimientos {
    padding: 30px;
    display: flex;
    gap: $default-gap;
    justify-content: center;
    align-self: center;
    th,
    tr {
      padding: 15px;
      font-size: 1.6rem;
      text-align: center;
    }
  }
  &__finales {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    th,
    tr {
      padding: 15px;
      font-size: 1.6rem;
      text-align: center;
    }
    th:first-child {
      border: none;
    }
  }
  &__results {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 3.2rem;
  }
}
