// ---- 01 TYPOGRAPHY SYSTEM
// - Font size system (px)
//       10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// - Font weights:
// Defaut 400
// - line heights:
// Defaut 1
// ---- 02 COLORS
// Primary:
// Tints:
// Shades:
// Accents:
// Greys:

// - Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-primary-dark;
  background-color: $color-primary-light;
}
.heading-primary {
  &-main {
    display: block;
    color: $color-primary-dark;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
    @include respond(tab-port) {
      font-size: 2.2rem;
      letter-spacing: 0.2rem;
      margin-top: 30px;
      margin-bottom: -35px;
    }
  }
}
