// COLORS
$color-primary: #51cf66;
$color-primary-light: #b2f2bb;
$color-primary-dark: #087f5b;
$color-grey-dark: #777;
$color-grey-drak-2: #999;
$color-grey-drak-3: #333;
$color-white: #fff;
$color-black: #000;

// GAP
$small-gap: 1.2rem;
$default-gap: 1.6rem;
